*{
    margin: 0;
    padding: 0;
}
.myMargin{
    margin: 25px;
}
.footer
{
    height: 70px;
    background-color: black;
    color: white;
   
}
.footer p{
    text-align: center;
    padding-top: 20px;
}
.login-content
 {
    background-image: url("../images/f.jpg"); 
    background-size:cover;
    background-repeat:no-repeat;
    /* background-attachment: fixed; */
   
    display: grid;
    place-items: center;

}.loginForm{
   
    background-color:black;
    opacity: 0.6;
    padding: 10px;
    margin-top: 40px;
   margin-bottom: 50px;
   color:white;
   


}
.loginForm h4{
    text-align:center;
}
#loginform{
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
      color:white
  }
  
  .fa-facebook {
    background:darkblue;
    color: white;
    width:130px;
    height: 50px;
    z-index: 999;
  }
 
  
  .fa-google {
    background-color: red;
    color: white;
    width: 130px;
    height: 50px;
    z-index: 999;
  }
.signUpForm{
    margin-left: 150px;
    background-color: white;
    opacity: 0.55;
    padding: 10px;
    height:1000px;
}
.signUpForm h4{
    text-align:center;
}
.container{
    padding-top: 30px;
}
.card{
    height: 550px;
    margin-bottom: 20px;;
}
.card-body
{
    margin-top: 20px;
}
.district{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.district h1{
    text-align: center;
}
.displaybadge{
    margin-top: 5%; 
    display: none; 
    text-align :center;
}
#alerterror{
    display: none;
}
.carouselImage img{
    width: auto;
    height: 553px;
    max-height: 553px;
}
@media only screen and (max-device-width: 768px) {
    .carouselImage img{
        width: auto;
        height: 300px;
        max-height: 300px;;
    }
 }
